<ul>
  <% if Admin::MenuBlocksController.searchable? %>
    <li>
      <%= render :partial => "/shared/admin/search",
                  :locals => {
                    :url => admin_menu_blocks_path
                  } %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), new_admin_menu_block_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? and Admin::MenuBlocksController.sortable? and MenuBlock.count > 1 %>
  <li>
    <%= link_to t('.reorder', :what => "Menu Blocks"),
                 admin_menu_blocks_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Menu Blocks"),
                 admin_menu_blocks_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>