<div class="wrap foo">
	<footer>

      <%= render :partial => "/shared/footer_menu", :locals => {
        :rooots => @menu_pages.select{|p| p.parent_id == Page.find_by_constant_name('bottom_menu').id}
      } %>

		<div class="logo"></div>
		<p>Copyright <%= Time.now.year -%></p>
	</footer>
</div>
