<div class="wrap info">
	<section>
		<div class="side">
			<div class="img"><img src="/images/ph1.jpg" alt=""/></div>
			<h2>Benefits</h2>
			<p>I once more dived within the skeleton. From their arrow-slit in the skull, the priests perceived me taking the altitude of the final rib, "How now" they shouted</p>
			<p><a href="">Learn more</a></p>
		</div>
		<div class="partners">
			<h2>Partners</h2>
			<img src="/images/logo_altoros.png" alt=""/>
			<img src="/images/logo_rightscale.png" alt=""/>
			<img src="/images/logo_eyard.png" alt=""/>
			<img src="/images/logo_altoros.png" alt=""/>
			<img src="/images/logo_rightscale.png" alt=""/>
		</div>
		<div class="side">
			<div class="img"><img src="/images/ph1.jpg" alt=""/></div>
			<h2>Blog post</h2>
			<p>Whether this whale belonged to the pod in advance, seemed questionable; for it is not customary for such venerable leviathans to be at all social. </p>
			<p><a href="/blog">Read full article</a></p>
		</div>
	</section>
</div>
