<div class="wrap info">
	<section>
		<div class="side">
			<div class="img"><img src="/images/ph1.jpg" alt=""/></div>
			<h2>Benefits</h2>
			<p>I once more dived within the skeleton. From their arrow-slit in the skull, the priests perceived me taking the altitude of the final rib, "How now" they shouted</p>
			<p><a href="">Learn more</a></p>
		</div>
		<div class="partners">
			<h2>Partners</h2>
            <%= Page.find_by_constant_name('partners')[:body].html_safe  %>
		</div>
		<div class="side">
          <%#= BlogPost.find(:last, :conditions => { :draft => 0 }).inspect %>
          <% last_blog_post=BlogPost.find(:last, :conditions => { :draft => 0 }) %>
          <%= last_blog_post['custom_teaser'].html_safe %>
          <p><a href="/blog">Read full article</a></p>
		</div>
	</section>
</div>
