<div class="wrap lead">
	<section>
		<img src="/images/pic_lead_r.png" alt=""/>
		<img src="/images/pic_lead_l.png" alt=""/>
		<div>
			<h1>Want to go the Ruby way? Become a Ruby On Rails Star!</h1>
			<p>An opportunity for mid-level and senior developers with 2+years of experience in PHP, Java, ASP.NET, C#</p>
		</div>
	</section>
</div>
