<div class="wrap links">
	<section>
      <%=  link_block_show('home_left_menu') %>
      <%=  link_block_show('home_middle_menu') %>
      <%=  link_block_show('home_right_menu') %>
	</section>
</div>
