<% if my_path(@page.id).include?(Page.find_by_constant_name('top_menu').id) %>

<%
  @page_path_arr = my_path(@page.id)
  side_menu=@menu_pages.select{|p| p.parent_id == @page_path_arr[1]}
%>

<aside>
    <ul>
      <% side_menu.each do |val| %>
        <li<%= ' class="act"'.html_safe if @page.id == val.id %>><span><%= link_to val.title, val.url %></span></li>
      <% end %>
        <li class="last"></li>
    </ul>
    <a href="<%= locale.to_s + '/'  if locale != RefinerySetting.find_by_name( :i18n_translation_current_locale ).value %>/enroll/" class="btn enroll"></a>
</aside>
<% end %>
