<aside>
    <ul>
        <li><span><a href="">What you get</a></span></li>
        <li><span><a href="">Our tours</a></span></li>
        <li class="act"><span><a href="">Success stories</a></span></li>
        <li><span><a href="">How we train</a></span></li>
        <li><span><a href="">Real time journal</a></span></li>
        <li><span><a href="">FAQ</a></span></li>
        <li class="last"></li>
    </ul>
    <a href="" class="btn enroll"></a>
</aside>
