<%
   Page.find_by_constant_name('slides').children.each do |cld|


       #cld.inspect
       cld.parts.each do |part| %>
         <%#= part.body.inspect %>
       <% end
   end
 %>

<div class="wrap sld">
  <section id="slideshow_container">
      <div class="slideshow">
          <ul class="items">
          <style type="text/css">
              #slideshow_container {position:relative;width:100%;overflow:hidden;padding:0;}
              .slideshow {position:relative;left:50%;overflow:hidden;width:1200px;height:460px;margin-left:-600px;/*background:#000;*/}
              .slideshow .items {position:absolute;width:20000em;}
              .slideshow .items li {float:left;position:relative;width:1200px;height:460px;}
              .slideshow .items li div {position:relative;width:1026px;height:460px;margin:0 87px;}
              .slideshow a.enroll {position:absolute;width:161px;height:42px;background-image:url(../images/btn_enroll.png);}
              .slideshow a.enroll:hover, .slideshow a.watch:hover {background-position:0 -42px;}
<% cnt=1
   Page.find_by_constant_name('slides').children.each do |cld|
%>
  <%#=  image_tag(cld.images.first.url) %>
.slideshow .s<%= cnt %> {background:url(<%=  cld.images.first.url %>) 100% 0 no-repeat;}
<% cnt+=1
end %>

          </style>
<!--.slideshow .s1 {background:url(./images/slide_map.png) 100% 0 no-repeat;}
.slideshow .s2 {background:url(./images/slide_em_1200_tr.png) 100% 0 no-repeat;}
.slideshow .s3 {background:url(./images/slide_vg_1200_tr.png) 100% 0 no-repeat;} -->

            <%  cnt=1
               Page.find_by_constant_name('slides').children.each do |cld|

                   #cld.inspect

                   %>
              <li class="s<%= cnt %>">
                   <%= cld[:body].html_safe %>
              </li>
                   <%# cld.parts.each do |part| %>

                     <%#= part.body.inspect %>

                <% cnt+=1
            end
          %>
          </ul>
          <div id="slide_nav" class="navi">
              <a href="#1"></a>
              <a href="#2"></a>
              <a href="#3"></a>
          </div>
      </div>
  </section>
</div>
